.everything {
  font-family: 'Jockey One', sans-serif;
}

.title {
  text-align: center;
  font-size: 70px;
}

.top-btn {
  margin: 15px;
align-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
justify-content: space-around;
}

.card {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin: 8px;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.03);
  outline: 0.5rem inset grey;
  border-radius: 10px;
}

.options {
  align-items: center;
}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  height: 400px;
}

.top-btn {
  display: inline-block;
  font-size: 20px;
}

.download {
  margin: 10px;
}
/* @keyframes mew {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  animation: 0.1s ease-in mew infinite;
}
 */