.everything {
  font-family: 'Jockey One', sans-serif;
}

.title {
  text-align: center;
  font-size: 70px;
}

.container {
  display: flex;
  flex-wrap: wrap;
justify-content: space-around;
}

.card {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 50px;
  border-width: 5px;
  margin: 5px;
}

.options {
  align-items: center;
}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  height: 400px;
  cursor: pointer;
}

.top-btn {
  display: inline-block;
  font-size: 20px;
}

.download {
  margin: 10px;
}
/* @keyframes mew {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  animation: 0.1s ease-in mew infinite;
}
 */